@import "./base/base";
@import "./base/variables";
@import "./components/header";
@import "./components/footer";
@import "./layout//responsive_elements";

// Main
main {
  // Home
  #home {
    background-color: $color_first;
    margin-top: 10rem;
    padding: 10rem 0;
  }
  // Buttons
  #buttons {
    .group-button {
      &:nth-child(3) {
        a {
          &:nth-child(2) {
            &:hover {
              color: #fff !important;
              background-color: #bb2d3b !important;
            }
          }
          &:nth-child(3) {
            &:hover {
              color: #fff !important;
              background-color: #31d2f2 !important;
            }
          }
          &:nth-child(4) {
            &:hover {
              color: #fff !important;
              background-color: #0d6efd !important;
            }
          }
          &:nth-child(5) {
            &:hover {
              color: #fff !important;
              background-color: #ffca2c !important;
            }
          }
        }
      }
      &:nth-child(4) {
        a {
          border-radius: 2rem !important;
        }
      }
    }
  }
  #aligned {
    background-color: #f9f9ff;
  }
  #definition {
    background-color: #f9f9ff;
  }
  #quotes {
    background-color: #f9f9ff;
    p {
      border-left: 0.3rem solid $color_first;
    }
  }
  #table {
    background-color: #f9f9ff;
  }
  #gallery {
    background-color: #f9f9ff;
    .img {
      cursor: pointer;
      overflow: hidden;
      margin-top: 1.5rem;
      img {
        height: 12rem;
        transition: transform 0.5s;
        &:hover {
          transform: scale(1.1);
        }
      }
    }
  }
  #other {
    background-color: #f9f9ff;
    li::marker {
      color: $color_first;
    }
  }
}
