@import "./base/base";
@import "./base/variables";
@import "./components/header";
@import "./components/footer";
@import "./layout//responsive_elements";

// Main
main {
  // Home
  #home {
    background-color: $color_first;
    margin-top: 10rem;
    padding: 10rem 0;
  }
  // Buttons
  #buttons {
    .group-button {
      &:nth-child(3) {
        a {
          &:nth-child(2) {
            &:hover {
              color: #fff !important;
              background-color: #bb2d3b !important;
            }
          }
          &:nth-child(3) {
            &:hover {
              color: #fff !important;
              background-color: #31d2f2 !important;
            }
          }
          &:nth-child(4) {
            &:hover {
              color: #fff !important;
              background-color: #0d6efd !important;
            }
          }
          &:nth-child(5) {
            &:hover {
              color: #fff !important;
              background-color: #ffca2c !important;
            }
          }
        }
      }
      &:nth-child(4) {
        a {
          border-radius: 2rem !important;
        }
      }
    }
  }

  // Quotes
  #quotes {
    p {
      border-left: 0.3rem solid $color_first;
    }
  }
  // Gallery
  #gallery {
    .img {
      cursor: pointer;
      overflow: hidden;
      margin-top: 1.5rem;
      img {
        height: 12rem;
        transition: transform 0.5s;
        &:hover {
          transform: scale(1.1);
        }
      }
    }
  }
  // Other
  #other {
    li::marker {
      color: $color_first;
    }
  }
  // Elements
  #elements {
    input {
      outline: none;
    }
  }
  #aligned,
  #definition,
  #quotes,
  #table,
  #gallery,
  #other,
  #elements {
    background-color: $color_third;
  }
}
