@import "./base/base";
@import "./base/variables";
@import "./components/header";
@import "./components/footer";
@import "./layout/responsive";

%background {
  background-repeat: no-repeat;
  background-size: cover;
}
%after_div {
  &::after {
    content: "";
    position: absolute;
    background-color: #000;
    display: block;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    opacity: 0.6;
    z-index: -1;
  }
}
// Main
main {
  // Home
  #home {
    background-image: url(../images/header-bg.jpg.webp);
    @extend %background;
    margin-top: 10rem;
    height: 50rem;
    @extend %after_div;
    .content {
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      h2 {
        font-size: 2rem;
      }
    }
  }
  // Offer
  #offer {
    padding: 10rem 0;
    h2 {
      transition: color 0.5s;
      font-size: 2rem;
      &:hover {
        color: $color_first;
      }
    }
    .wrapper {
      cursor: pointer;
      transition: all 0.8s;
      img {
        transition: transform 0.5s;
      }
      &:hover {
        box-shadow: 0px 0px 70px 2px $color_second;
        transform: rotateY(180deg);
        img {
          transform: rotateY(180deg);
        }
        img {
          transform: scale(1.2), rotateY(180deg);
        }
        h5,
        p {
          transform: rotateY(180deg);
        }
      }
    }
  }
  // Index
  #index {
    background-color: $color_first;
    padding: 7rem 0;
    h2 {
      font-size: 2rem;
    }
    input {
      background-color: $color_first;
    }
    input[type="button"] {
      transition: background-color 0.5s;
      border-radius: 2rem !important;
      &:hover {
        background-color: transparent !important;
        color: #fff;
      }
    }
  }
  // Course
  #course {
    h2 {
      font-size: 2rem;
    }
    .wrapper {
      cursor: pointer;
      .img {
        img {
          transition: transform 0.5s, filter 0.7s;
          filter: blur(0.2rem);
        }
        h6 {
          bottom: 0;
          left: 0.7rem;
          background-color: $color_first;
        }
      }
      &:hover img {
        transform: scale(1.3);
        filter: unset;
      }
      h6 {
        &:nth-child(2) {
          color: $color_first;
        }
      }
    }
  }
  // Revolutions
  #revolutions {
    h4 {
      color: $color_first;
    }
    img {
      transition: transform 0.5s;
      &:hover {
        transform: scale(1.3);
      }
    }
  }
  // Schedule
  #schedule {
    table {
      tr {
        cursor: pointer;
        transition: background-color 0.6s;
        td {
          transition: transform 0.6s;
        }
        &:hover {
          background-color: $color_first !important;
          td {
            color: #fff !important;
            transform: scale(1.3);
          }
        }
      }
    }
  }
  // Trainer
  #trainer {
    h2 {
      font-size: 2rem;
    }
    .wrapper {
      cursor: pointer;
      img {
        transition: border-radius 0.5s;
      }
      .icons {
        top: 0;
        bottom: 0;
        width: 100%;
        background-color: $color_first;
        opacity: 0;
        transition: opacity 0.5s, border-radius 0.5s;
      }
      &:hover {
        .icons {
          opacity: 0.7;
          border-radius: 2rem;
        }
        img {
          border-radius: 2rem;
        }
      }
    }
  }
  // Plan
  #plan {
    .wrapper {
      border-top-left-radius: 2rem;
      border-top-right-radius: 2rem;
      cursor: pointer;
      p,
      ul,
      li {
        transition: background-color 0.7s, color 0.7s;
      }
      &:hover {
        ul,
        p {
          background-color: $color_first;
        }
        li,
        p {
          color: #fff !important;
        }
      }
    }
  }
}
